@font-face {
  font-family: 'Albertus Nova W01 Light';
  src: url('~assets/Fonts/a92b1373-255d-4e1e-a778-da77c2416cbd.woff2')
      format('woff2'),
    url('~assets/Fonts/bf5f80ca-ad25-4894-a688-8bcfd3c0060a.woff') format('woff');
}
@font-face {
  font-family: 'Wolpe Pegasus W01 Regular';
  src: url('~assets/Fonts/135a2f50-c30e-416a-9f02-2b72ab2b4dd1.woff2')
      format('woff2'),
    url('~assets/Fonts/df9c7cd0-6b1d-49b7-8547-3a2fc6dff861.woff') format('woff');
}
@font-face {
  font-family: 'Wolpe Fanfare W01 Black';
  src: url('~assets/Fonts/b8780533-c46d-4f5c-b13d-94a7e7e3986b.woff2')
      format('woff2'),
    url('~assets/Fonts/55406010-b023-44f3-b4c1-8d107ff9e913.woff') format('woff');
}
