// COLORS
$color-primary: #62b1d4; // light blue
$color-primary-light: lighten($color-primary, 10%);
$color-primary-lighter: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #ed1c24;
$color-text: rgba(black, 0.8);

// Breakpoints
$x-small-bp: 'max-width: 575px';
$small-bp: 'min-width: 576px';
$medium-bp: 'min-width: 768px';
$large-bp: 'min-width: 1024px';

// Font Stacks
$serif: Georgia, 'Times New Roman', serif;
$sans: 'Trebuchet MS', Verdana, sans-serif;

$albertus: 'Albertus Nova W01 Light', $sans;
$fanfare: 'Wolpe Fanfare W01 Regular', $sans;
$fanfare-black: 'Wolpe Fanfare W01 Black', $sans;
$pegasus: 'Wolpe Pegasus W01 Regular', $serif;

// EXTENDS
%nav {
  display: grid;
  grid-gap: 2em;
  grid-auto-flow: column;
  justify-content: center;
  a {
    font-family: $albertus;
    font-size: 1em;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.07);
    &:hover {
      color: $color-secondary;
    }
  }
}
